/* ========================================
   Responsive CSS for Welcome Page
   Mobile-First Approach
   ======================================== */

/* Language Switcher Styles */
.language-switcher {
    position: absolute;
    left: 240px;
    top: 18px;
    display: flex;

    gap: 10px;
    z-index: 1000;
}

.language-switcher a {
    background: #fff;
    border: 2px solid #aaa;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.language-switcher a:hover,
.language-switcher a.active {
    background: #5081cb;
    border-color: #5081cb;
    color: #fff;
}

/* Mobile Menu Toggle Button */
.mobile-menu-toggle {
    display: none;
    background: #6d6d6d;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 70px;
    z-index: 10000;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.mobile-menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    transition: all 0.3s ease;
}

.mobile-menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.mobile-menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.mobile-menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

/* ========================================
   Tablet Styles (768px and below)
   ======================================== */
@media screen and (max-width: 768px) {
    /* Remove fixed width constraints */
    #Wrapper,
    #Wrapper #Wrapper_Content {
        min-width: 100%;
        width: 100%;
    }

    #Wrapper #Wrapper_Content #Container {
        width: 100%;
        max-width: 768px;
        padding: 0 15px;
        box-sizing: border-box;
    }

    /* Header adjustments */
    #Wrapper #Wrapper_Content #Container #Header {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    #Wrapper #Wrapper_Content #Container #Header .Logo {
        width: 200px;
        height: 70px;
        background-size: contain;
        margin: 10px auto;
        float: none;
    }

    #Wrapper #Wrapper_Content #Container #Header .Social_Icon {
        width: 100%;
        margin: 10px 0;
        float: none;
        text-align: center;
    }

    #Wrapper #Wrapper_Content #Container #Header .Social_Icon ul {
        width: 100%;
        justify-content: center;
        display: flex;
    }

    #Wrapper #Wrapper_Content #Container #Header .Live_Support {
        position: static;
        width: 180px;
        height: 50px;
        margin: 10px auto;
        display: block;
    }

    #Wrapper #Wrapper_Content #Container #Header .Live_Support img {
        width: 100%;
        height: auto;
    }

    /* Navigation Menu */
    #Wrapper #Wrapper_Content #Container #Header .Menu {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }

    #Wrapper #Wrapper_Content #Container #Header .Menu ul {
        width: 100%;
        display: none;
        flex-direction: column;
        height: auto;
    }

    #Wrapper #Wrapper_Content #Container #Header .Menu ul.mobile-active {
        display: flex;
    }

    #Wrapper #Wrapper_Content #Container #Header .Menu ul li {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid #555;
    }

    #Wrapper #Wrapper_Content #Container #Header .Menu ul li a {
        width: 100%;
        background: none;
        text-align: center;
        padding: 15px;
    }

    #Wrapper #Wrapper_Content #Container #Header .Menu ul li ul {
        position: static;
        width: 100%;
        display: none;
        background: #3f3f3f;
        margin: 0;
        padding: 0;
    }

    #Wrapper #Wrapper_Content #Container #Header .Menu ul li:hover > ul {
        display: block;
    }

    #Wrapper #Wrapper_Content #Container #Header .Menu ul li ul li {
        width: 100%;
        margin: 0 !important;
    }

    #Wrapper #Wrapper_Content #Container #Header .Menu ul li ul li a {
        width: 100% !important;
        text-indent: 20px;
    }

    #Wrapper #Wrapper_Content #Container #Header .Menu .Menu_right,
    #Wrapper #Wrapper_Content #Container #Header .Menu .Menu_left {
        display: none;
    }

    .mobile-menu-toggle {
        display: flex;
    }

    /* Body Layout */
    #Wrapper #Wrapper_Content #Container #Body {
        width: 100%;
        margin: 10px 0;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content {
        width: 100%;
        float: none;
    }

    /* Slider */
    #Wrapper #Wrapper_Content #Container #Body #Content #Slider {
        width: 100%;
        height: auto;
        min-height: 200px;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Slider .Slider {
        width: 100%;
        margin: 10px 0;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Slider .slider_shadow {
        width: 100%;
    }

    /* Services Section */
    #Wrapper #Wrapper_Content #Container #Body #Content #Our_Services {
        width: 100%;
        padding: 0 0 11px 0;
        margin: 40px 0;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Our_Services .Our_Services {
        width: 100%;
        height: auto;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Our_Services .Our_Services ul li {
        width: 100%;
        margin: 20px 0;
        float: none;
    }

    /* Pricing Tables */
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table {
        width: 100%;
        height: auto;
        margin: 30px 0;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_top,
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_options,
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_details,
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_bottom {
        width: 100%;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_top h2.right,
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_top h2.left {
        width: 50%;
        float: left;
        text-align: center;
        font-size: 20px;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_options ul.options_right,
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_options ul.options_left {
        width: 50%;
        float: left;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_details ul.details_right,
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_details ul.details_left {
        width: 50%;
        float: left;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_bottom ul li {
        width: 50%;
        float: left;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Host_Center {
        position: static;
        width: 100%;
        margin: 20px 0;
        box-shadow: 0px 0px 10px #bbb;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Host_Center h2,
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Host_Center ul.options,
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Host_Center ul.details,
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Host_Center .center_bottom {
        width: 100%;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_shadow {
        width: 100%;
    }

    /* Domain Search */
    #Wrapper #Wrapper_Content #Container #Body #Content #Domain_Search {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Domain_Search h2 {
        font-size: 20px;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Domain_Search nav {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Domain_Search nav a {
        font-size: 12px;
        padding: 5px 10px;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Domain_Search form input.domain_text {
        width: 100%;
        margin-bottom: 10px;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Domain_Search form .domain_options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* Sidebar */
    #Wrapper #Wrapper_Content #Container #Body #Sidebar {
        width: 100%;
        float: none;
        margin-top: 20px;
    }

    #Wrapper #Wrapper_Content #Container #Body #Sidebar .Widget {
        margin-bottom: 20px;
    }

    /* Clients Section */
    #Wrapper #Wrapper_Content #Container #Our_Clients {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    #Wrapper #Wrapper_Content #Container #Our_Clients .Clients_Slider ul li {
        width: 50%;
    }

    /* Services Slider */
    #Wrapper #Wrapper_Content #Container #Services {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    /* Footer */
    #Wrapper #Wrapper_Content #Container #Footer footer {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    #Wrapper #Wrapper_Content #Container #Footer footer .Footer_About,
    #Wrapper #Wrapper_Content #Container #Footer footer .Footer_Links,
    #Wrapper #Wrapper_Content #Container #Footer footer .Footer_Contact {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }

    #Wrapper #Wrapper_Content #Container #Footer footer .Footer_Bottom {
        width: 100%;
    }

    #Wrapper #Wrapper_Content #Container #Footer footer .Footer_Bottom ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .language-switcher {
        left: auto;
        right: 10px;
        top: 10px;
    }
}

/* ========================================
   Mobile Styles (480px and below)
   ======================================== */
@media screen and (max-width: 480px) {
    /* Pricing Tables - Stack Vertically */
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_top h2.right,
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_top h2.left {
        width: 100%;
        float: none;
        margin: 10px 0;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_options ul.options_right,
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_options ul.options_left {
        width: 100%;
        float: none;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_details ul.details_right,
    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_details ul.details_left {
        width: 100%;
        float: none;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_bottom ul li {
        width: 100%;
        float: none;
        margin: 10px 0;
    }

    #Wrapper #Wrapper_Content #Container #Body #Content #Host_Table .Table_bottom ul li a {
        display: block;
        margin: 0 auto;
    }

    /* Clients Slider - Single Column */
    #Wrapper #Wrapper_Content #Container #Our_Clients .Clients_Slider ul li {
        width: 100%;
    }

    /* Social Icons - Smaller */
    #Wrapper #Wrapper_Content #Container #Header .Social_Icon ul li {
        margin: 0 5px;
    }

    #Wrapper #Wrapper_Content #Container #Header .Social_Icon ul li a {
        width: 32px;
        height: 32px;
    }

    /* Footer - Smaller Text */
    #Wrapper #Wrapper_Content #Container #Footer footer .Footer_About p,
    #Wrapper #Wrapper_Content #Container #Footer footer .Footer_Links ul li,
    #Wrapper #Wrapper_Content #Container #Footer footer .Footer_Contact p {
        font-size: 12px;
        line-height: 1.6;
    }

    /* Domain Search - Stack Options */
    #Wrapper #Wrapper_Content #Container #Body #Content #Domain_Search form .domain_options p {
        width: 50%;
    }

    /* Adjust font sizes for better readability */
    h2 {
        font-size: 18px !important;
    }

    p {
        font-size: 13px;
    }
}

/* ========================================
   Small Mobile Styles (320px and below)
   ======================================== */
@media screen and (max-width: 320px) {
    #Wrapper #Wrapper_Content #Container {
        padding: 0 10px;
    }

    #Wrapper #Wrapper_Content #Container #Header .Logo {
        width: 150px;
        height: 50px;
    }

    #Wrapper #Wrapper_Content #Container #Header .Social_Icon ul li a {
        width: 28px;
        height: 28px;
    }

    .language-switcher a {
        width: 32px;
        height: 32px;
        font-size: 10px;
    }

    h2 {
        font-size: 16px !important;
    }

    p {
        font-size: 12px;
    }
}

/* RTL/LTR Support */
html[dir="ltr"] {
    direction: ltr;
}

html[dir="ltr"] body {
    direction: ltr;
}

html[dir="ltr"] #Wrapper #Wrapper_Content #Container #Header .Logo {
    float: left;
}

html[dir="ltr"] #Wrapper #Wrapper_Content #Container #Header .Social_Icon {
    float: right;
}

html[dir="ltr"] #Wrapper #Wrapper_Content #Container #Header .Social_Icon ul li {
    float: left;
    margin: 0 18px 0 0;
}

html[dir="ltr"] #Wrapper #Wrapper_Content #Container #Header .Live_Support {
    right: auto;
    left: 0;
}

html[dir="ltr"] #Wrapper #Wrapper_Content #Container #Header .Menu ul li {
    float: left;
}

html[dir="ltr"] #Wrapper #Wrapper_Content #Container #Body #Content {
    float: right;
}

html[dir="ltr"] #Wrapper #Wrapper_Content #Container #Body #Sidebar {
    float: left;
}

html[dir="ltr"] .language-switcher {
    right: auto;
    left: 640px;
}

@media screen and (max-width: 768px) {
    html[dir="ltr"] .language-switcher {
        left: 200px;
        right: auto;
    }
}
@media screen and (max-width: 768px) {
 .nav-dots {
        left: 50px;
        right: auto;
    }
}
